<!DOCTYPE html>
<html>

<head>
    <title> THE BIG MAGHREB ! </title>
</head>

<body>
    <h1> THE BIG MAGHREB </h1>
 
    <div class="topnav">
        <a class="active" href="#HOME">HOME</a>
        <a href="#WORK">WORK</a>
        <a href="#CONTACT">CONTACT</a>
        <a href="#ABOUT">ABOUT</a>
        <a href="#RESUME">RESUME</a>
      </div>
     

</style>
</head>
<body>

<h2>Responsive Contact Section</h2>
<p>Resize the browser window to see the effect.</p>

<div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>WELCOME TO NORTH AFRICA:</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="/w3images/map.jpg" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="tunisia">TUNISIA</option>
          <option value="algerie">ALGERIE</option>
          <option value="maroc">MAROC</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>

</body>
</html>

<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="GAALOUL" style="width:100%">
      <div class="container">
        <h2>Ahmed Gaaloul</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me .</p>
        <p>ahmedgaaloul24@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Ionic Accordion</title>
   
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

  </head>

  <body ng-controller="MyCtrl">
    
    <ion-header-bar class="bar-positive">
      <h1 class="title">Accordion List</h1>
    </ion-header-bar>

    <ion-content>

      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Group {{marocain people}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            {{tunisiens people}}
          </ion-item>
        </div>
      </ion-list>

    </ion-content>
      
  </body>
</html>

  <h1>Services</h1>
  <div class="container">
    <div class="row">
  
      <div class="col-md-4">
        <div class="main">
          <div class="service">
            <div class="service-logo">
              <img src="https://previews.dropbox.com/p/thumb/AA2aXX9dsM-dyB5QJ8KPV443UgHC2tMTlIeLqVj-QqBIH5Nurs3Z0V51ryn_iwZ4QVLDyGiK9q9BPVx77frU6_auhxhYWds1zX9ZrO_wjbH5Bf9QLLSmP1bfexwA9pUEizCZ2WVMkefmGcx1rqE93KwrpBOxcWl6usLEo0lDZ2p_5pXfA__zSxJZpkE4eRHxtuWZemahzwYONOhlm3YEuYSdd7ndST5NAeYCdGQiHU30LzE4AUM4y1ue30Gco6nkywupXck0Z_LeDd1ozsLH7zmFM42fLEzsbp9V22MZPk0ipfg4WJXqfK9hx_RBNeG7iHsViqDZReKRemF2BNPXIXjTfaBCqnxxa4mc6ZfZRO4aDg/p.png?fv_content=true&size_mode=5">
            </div>
          
      
 
            <h4>LES ENDROITS LES PLUS VISITES</h4>
            <p>Marrakech. La ville ocre charme ses visiteurs avec ses couleurs ocres, son soleil brûlant, ses odeurs et ses saveurs orientales, son ambiance</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="main">
          <div class="service">
            <div class="service-logo">
              <img src="https://previews.dropbox.com/p/thumb/AA0RG22uy3EGH7WbdyAOEeUD4UK3ovO2G_RaYC72WZetKDmhCr2m2eK-qRkt0PTDhktkJM7KiccKJOPdoXTAiVqIoq3enDW3HHXdtAyaKploWjQC9DUKxZ69Zom4rUE7BZkJj8JoKMg0WjiV-nIXmCjj0SYZJEwdxC_iu7JPSqXjjA5y1vDyFcuZdv1Gs6Ewcl2wdx9grfW6fpU-19SG60yR8SHpF38JC1s18dWge-eKRD-_n65YWkTKr-xzUazwT04gzd0SeFo-3ss5EMvTx4vw3HVtRt6zCv4C85MhNFXDvvwa9PA3E63jy81Sqt-L5jswe8PXbJm7ogMDqHcJXSSrKsmmhJZTvplmkG5DzYO2Yg/p.png?fv_content=true&size_mode=5">
            </div>
            <h4>LES TRADITIONS</h4>
            <p>n toutes circonstances d'adopter un comportement décent et discret, et de se montrer respectueux des lieux de culte musulmans.
                -Il est formellement interdit aux non-musulmans d'entrer dans les lieux de culte musulmans. .</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/azgptq1JsFg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="main">
          <div class="service">
            <div class="service-logo">
              <img src="https://previews.dropbox.com/p/thumb/AA16Mi7YdSMFlfb1B2c-1ThzdBPg3buPqI3NKL9oeDKH4su5OXOwmj0l_1pABEmcWPo3pEsIYoOr45shK_yfLMEn9CEVfJ_p9l1_lgQ_sr_uXKmDudEaxWoued11DNSY5v3qzeTwVLzOkIhcK8qLDqxq3g9QftNb86IAMpcLvbUHc_WU9kdlR2-Szv-iO5yBR5rR0FPxEi4wNWzu6dwPeGecnDSVSWzP_ii6hR5DtpI2cG1dyYOZiD-nKRIwrA6HZflL6QrVpg-jd22oBWRwsUJEm0MheTvNIS0gmWB8UzrCd5JT97UM8KJeA6RUeZ1sQ-LUOxGOHG8oKkilRogvsP7DbW3cJTmbwprndfPi1Z0R5A/p.png?fv_content=true&size_mode=5">
            </div>
            <h4>CULTURE</h4>
            <p>La culture du Maroc, pays du Maghreb, désigne d'abord les pratiques culturelles observables de ses 35 986 655 d'habitants. ... Son emplacement géographique fait du Maroc un pays au carrefour de cultures et influences : Arabe, Berbère, Afrique subsaharienne.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Country Table</h2>

<table>
  <tr>
    <th>country</th>
    
    
  </tr>
  <tr>
    <td>TUNISIA</td>
  >
   
  </tr>
  <tr>
    <td>ALGERIE</td>
   
    
  </tr>
  <tr>
    <td>MAROC</td>
    
    
  </tr>
  <tr>
    
    
    
  </tr>
  <tr>
   
    
    
  </tr>
  <tr>
    
  
    
  </tr>
</table>

</body>
</html>
  <body class="body">
    <footer id="red">
      <h1 class="text">THE BIG MAGHREB</h1>
      <h2 class="text2">&copy;	TUNISIE - ALGERIE - MAROC</h2>
      <h2 class="text3">-POWERED BY GAALOUL-</h2>
    </footer>
    </body>
    


  


    
    <!-- this is a comment -->
</body>

</html>